* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #bec5e6;
    min-height: 100vh;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    color: #2d3436;
}

.container {
    width: 100%;
    max-width: 1200px;
    background-color: #9198d1;
    padding: 2rem;
    border-radius: 25px;
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.15);
}

.container:hover {
    background: linear-gradient(125deg, rgb(152, 142, 201), rgb(66, 95, 139));
}

h1 {
  text-align: center;
  color: transparent;
  background: linear-gradient(180deg, black 40%, #fa1313);
  background-clip: text;
  margin-bottom: 40px;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: -0.5px;
}

h2 {
    color: #2d3748;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
}

.balance-container {
    text-align: center;
    margin-bottom: 35px;
    padding: 25px;
    background: linear-gradient(125deg, rgb(152, 142, 201), rgb(66, 95, 139));
    border-radius: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.balance-container:hover {
    background: linear-gradient(235deg, rgb(152, 142, 201), rgb(66, 95, 139));
}

.balance-container h1 {
    color: black;
    font-size: 3rem;
    margin: 15px 0;
}

.summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    margin-top: 25px;
}

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
}

.income, .expense {
    background-color: white;
    padding: 25px;
    border-radius: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease;
}

.income:hover, .expense:hover {
    transform: translateY(-4px);
}

.income h3 {
    color: #066446;
    font-size: 1rem;
    font-weight: 500;
}

.expense h3 {
    color: #a81515;
    font-size: 1rem;
    font-weight: 500;
}

.income p, .expense p {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: 600;
}

.income p {
    color: #066446;
}

.expense p {
    color: #a81515;
}

.transaction-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#transaction-list {
    list-style: none;
    max-height: 500px;
    overflow-y: auto;
    padding-right: 10px;
    flex-grow: 1;
}

#transaction-list::-webkit-scrollbar {
    width: 8px;
}

#transaction-list::-webkit-scrollbar-track {
    /* track means bg of scrollbar */
    background-color: #eee4e4;
    border-radius: 5px;
}

#transaction-list::-webkit-scrollbar-thumb {
    /* thumb means scrollbar drag icon */
    background-color: #a5b0bb;
    border-radius: 5px;
}

#transaction-list::-webkit-scrollbar-thumb:hover {
    background-color: #575c64;
}

.transaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #bec5e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    transition: all 0.2s ease;
    border-right: 5px solid;
    animation: slideIn 3s ease;
}

@keyframes slideIn {
    from {
        opacity: 0.8;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.transaction:hover {
    transform: translateX(4px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.transaction.income {
    border-right-color: #066446;
}

.transaction.expense {
    border-right-color: #a81515;
}

.transaction .delete-btn {
    background: none;
    border: none;
    color: #a81515;
    cursor: pointer;
    font-size: 1.5rem;
    opacity: 0;
    transition: all 0.3s ease;
    padding: 5px 10px;
    border-radius: 4px;
    margin-left: 10px;
}

.transaction:hover .delete-btn {
    opacity: 1;
}

.transaction .delete-btn:hover {
    background-color: #e2dada;
    transform: scale(1.1);
}

.form-container {
    background: linear-gradient(125deg, rgb(152, 142, 201), rgb(66, 95, 139));
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form-container form {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #4b4d50;
    font-weight: 550;
}

input {
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #c4d9f5;
    border-radius: 10px;
    font-size: 1rem;  
    transition: all 0.3s ease;
    background-color: white;
}

input:focus {
    outline: none;
    border-color: #1b62ce;
    box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.1);
}

input:hover {
    border-color: #cbd5e0;
}

small {
    color: #435658;
    font-size: 0.7rem;
    margin-top: 4px;
    margin-bottom: 4px;
    display: block;
}

button[type="submit"] {
    width: 100%;
    padding: 14px;
    background: linear-gradient(125deg, rgb(152, 142, 201), rgb(66, 95, 139));
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
    box-shadow: 0 5px 10px rgba(99, 101, 221, 0.5);
    margin-top: auto;
}

button[type="submit"]:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(213, 224, 231, 0.3);
}

button[type="submit"]:active {
    transform: translateY(0);
}

@media (max-width: 800px) {
    .main-content {
        grid-template-columns: 1fr;
    }
  
    #transaction-list {
        max-height: 330px;
    }
}

@media (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .summary {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .balance-container h1 {
        font-size: 2.6rem;
    }

    .income p, .expense p {
        font-size: 1.3rem;
    }
}