* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --bg-color: #141414;
    --container-bg: #1f1e1e;
    --color-1: silver;
    --color-2: gold;
    --text-1: #e1e1e1;
    --text-2: #b0b0b0;
    --border-color: #2c2c2c;
    --input-bg: #2c2c2c;
    --shadow-color: rgb(210, 159, 17);
}

body {
    font-family: Arial;
    background-color: var(--bg-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-1);
}

.subscribe-container {
    background-color: var(--container-bg);
    padding: 2.5rem;
    border-radius: 1rem;
    box-shadow: 0 5px 15px var(--shadow-color);
    text-align: center;
    max-width: 410px;
    width: 87%;
    border: 1px solid var(--border-color);
}

.icon-container {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    color: var(--color-1);
}

h2 {
    margin-bottom: 0.78rem;
    color: var(--text-1);
    font-weight: 600;
    font-size: 1.5rem;
}

p {
    font-size: 0.96rem;
    color: var(--text-2);
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.input-group {
    margin-bottom: 1rem;
    position: relative;
}

.input-group i {
    position: absolute;
    left: 13px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--text-2);
}

input {
    width: 100%;
    padding: 0.88rem 0.88rem 0.88rem 2.5rem;
    background-color: var(--input-bg);
    border: 1px solid var(--border-color);
    color: var(--text-1);
    font-size: 1rem;
    transition: all 0.3s ease;
    border-radius: 10px;
}

input:focus {
    outline: none;
    border-color: var(--color-1);
    box-shadow: 0 0 0 2px rgba(187, 134, 252, 0.25);
}

input::placeholder {
    color: var(--text-2);
    opacity: 0.8;
}

button {
    width: 100%;
    padding: 0.88rem;
    background-color: var(--color-1);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 550;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-color: orange;
    transform: translateY(-3px);
}

button i {
    font-size: 1rem;
    transition: transform 0.3s ease;
}

button:hover i {
    transform: translate(3px);
}

.benefits {
    margin-top: 1rem;
    padding-top: 0.45rem;
    text-align: left;
    border-top: 1px solid var(--border-color);
}

.benefit-item {
    display: flex;
    align-items: center;
    font-size: 0.89rem;
    gap: 10px;
    padding-top: 0.45rem;
    margin-bottom: 0.65rem;
}

.benefit-item i {
    color: var(--color-2);
    font-size: 0.75rem;
}

@media (max-width: 650px) {
    .subscribe-container {
        padding: 2rem 1.8rem;
    }
}